.git
.github
.vscode
.idea

node_modules
**/node_modules

.turbo
**/.turbo
.next
**/.next
dist
**/dist
coverage
**/coverage
out
**/out
*.tsbuildinfo
**/*.tsbuildinfo

chat/**/target
web-ui/secrets
web-ui/.yarn-cache
web-ui/packages/app/.env.local
web-ui/packages/app/.env.production.local

**/*.log
**/.DS_Store