# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
**/.yarn-cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Intentionally exclude package-lock because we use yarn.lock
package-lock.json

# testing
coverage

# next.js
**/.next/**
out/
.next
.turbo


# production
/build
dist

# misc
.DS_Store
*.pem
com.chrome.devtools.json

#turbo
.turbo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.buildinfo

# vs code
#.vscode
#**/.vscode
.vs
.vs/**
**/.vscode

*.lilith
logs
attachments
db/backups/prod_current_nodropdb.sql
db/backups/prod_current.sql
