<configuration>
    <property name="DEV_LOG" value="c:/Users/seanm/source/repos/NoEducation/chat/logs/app.log"/>
    <property name="LILITH_LOG" value="c:/Users/seanm/source/repos/NoEducation/chat/logs/app-log.lilith"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd.HH}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>5GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LILITH" />
    </appender>
    <appender name="ASYNC-LEGACY" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <appender-ref ref="FILE-ROLLING" />
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="LILITH" class="ch.qos.logback.core.FileAppender"> 
        <file>${LILITH_LOG}</file> 
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd.HH}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>5GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder class="de.huxhorn.lilith.logback.encoder.ClassicLilithEncoder"> 
            <IncludeCallerData>true</IncludeCallerData> 
            <layout class="com.obapps.core.logback.StripUnicodePatternLayout" />
        </encoder> 
    </appender>
    <logger name="org.redisson" level="WARN" />
    <logger name="reactor.netty" level="WARN" />
    <logger name="reactor.util" level="WARN" />
    <logger name="io.netty" level="WARN" />
    <logger name="ai.djl" level="WARN" />
    <logger name="org.apache.tika" level="OFF" />

    <root level="trace">
        <appender-ref ref="ASYNC"/>
        <appender-ref ref="ASYNC-LEGACY"/>
        <appender-ref ref="STDOUT"/>
    </root>


</configuration>